<template>
  <v-card flat>
    <SearchSiteList :onInformationSiteClick="goToSite"/>
  </v-card>
</template>

<script>
  import SearchSiteList from "~/components/SearchSiteList"

  export default {
    components: {SearchSiteList},
    methods: {
      goToSite(site) {
        this.$router.push(this.localePath({name: "index-site-id", params: {id: site.id}}))
      }
    }
  }
</script>


