<template>
  <SiteDetail :site-id="siteId"/>
</template>

<script>
  import SiteDetail from "~/components/SiteDetail"

  export default {
    components: {SiteDetail},
    data() {
      return {
        siteId: $nuxt.$route.params.id,
      }
    },
    watch: {
      '$route'(to, from) {
        this.siteId = $nuxt.$route.params.id
      }
    },
  }
</script>
