<template>
  <l-map ref="map"
         :options="{ zoomControl:false }"
         :zoom.sync="zoom"
         @leaflet:load="onMapLoaded"
         @zoomend="onZoomUpdated"
         @dragend="onBoundsUpdated">
    <l-tile-layer :url="url"/>
    <l-marker v-if="isAllMarkerDisplay"
              class="default-marker"
              :key="site.id" v-for="site in sitesWithoutSelected"
              :lat-lng="[site.location.latitude, site.location.longitude]"
              :zIndexOffset="0"
              @click="site.type === 'point' ? select(site) : ''">
      <l-icon v-if="site.type === 'cluster'"
              :icon-size="[40, 40]"
              :icon-anchor="[20, 20]">
        <v-avatar :size="40" color="white--text amber font-weight-bold"> {{site.totalCount | abbreviate }}</v-avatar>
      </l-icon>
    </l-marker>
    <l-marker :key="searchedSite.id" v-for="searchedSite in searchedSitesWithoutSelected"
              class="searched-marker"
              :lat-lng="[searchedSite.location.latitude, searchedSite.location.longitude]"
              @click="select(searchedSite)"
              :zIndexOffset="10">
      <l-icon :icon-size="[28, 35]"
              :icon-anchor="[14, 35]"
              :icon-url="require('~/assets/search.png')"
              :icon-url-retina="require('~/assets/search-x2.png')"/>
    </l-marker>
    <l-marker v-if="selectedSite.id"
              class="selected-marker"
              :lat-lng="[selectedSite.location.latitude, selectedSite.location.longitude]"
              :zIndexOffset="100"
              @click="select(selectedSite)">
      <l-icon :icon-size="[28, 35]"
              :icon-anchor="[14, 35]"
              :icon-url="require('~/assets/select.png')"
              :icon-url-retina="require('~/assets/select-x2.png')"/>
    </l-marker>
  </l-map>
</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "Map",
    props: {
      onMarkerClick: {
        type: Function,
        default: () => {}
      },
      activeArea: {
        type: Object,
        default: {position: 'absolute', left: '10px', right: '10px', height: '100%'}
      },
    },
    watch: {
      selectedSite(site) {
        if (site.id) {
          this.map.panTo([site.location.latitude, site.location.longitude])
        }
      },
      activeArea(val) {
        this.map.setActiveArea(val)
      }
    },
    data() {
      return {
        map: null,
        url: `https://mt0.google.com/vt/lyrs=y&hl=${this.$i18n.locale}&x={x}&y={y}&z={z}`,
        zoom: 8,
      }
    },
    mounted() {
      this.map = this.$refs.map.mapObject
      this.map.setActiveArea(this.activeArea)
    },
    computed: {
      ...mapState('search', {
        selectedSite: state => state.selected,
        searchedSitesWithoutSelected: state => state.searched,
      }),
      ...mapState('locations', {
        sitesWithoutSelected: state => state.searched,
      }),
      ...mapState('map', {
        isAllMarkerDisplay: state => state.displayMarker,
      }),
    },
    methods: {
      ...mapActions({
        getSites: 'locations/search',
        selectSite: 'search/select',
      }),
      async select(site) {
        await this.selectSite(site)
        this.onMarkerClick(site)
      },
      async onMapLoaded() {
        await this.getSites({topLeft: {lat: -90, lng: -180}, bottomRight: {lat: 90, lng: 180}, zoom: 5})
        const sitesLatLng = this.sitesWithoutSelected.map(site => [site.location.latitude, site.location.longitude])
        const bounds = L.latLngBounds(sitesLatLng)
        if (bounds.isValid()) {
          this.map.fitBounds(bounds)
        }
      },
      async onZoomUpdated(event) {
        const bounds = event.target.getBounds()
        await this.getSites({
          topLeft: bounds.getSouthWest(),
          bottomRight: bounds.getNorthEast(),
          zoom: event.target.getZoom()
        })
      },
      async onBoundsUpdated(event) {
        const bounds = event.target.getBounds()
        await this.getSites({
          topLeft: bounds.getSouthWest(),
          bottomRight: bounds.getNorthEast(),
          zoom: event.target.getZoom()
        })
      },
    }
  }
</script>
