<template>
 <div>
   <v-list v-if="status === 'DONE'" class="pa-0 search-list">
     <v-subheader>{{searchedSites.length}} {{ $tc('found', searchedSites.length) }}
       <v-spacer></v-spacer>
       <v-btn round color="white--text grey lighten-1" small style="margin-right: 0" @click="clearSearch()" class="clear-search">
         {{ $t('clear-search') }}
       </v-btn>
     </v-subheader>
     <template v-for="site in searchedSites">
       <v-list-tile avatar @click="">
         <v-list-tile-avatar @click="selectSite(site)">
           <v-icon class="white--text" :class="[ site.id === selectedSite.id  ? 'red darken-2 selected' : 'teal']">
             location_on
           </v-icon>
         </v-list-tile-avatar>

         <v-list-tile-content @click="selectSite(site)">
           <v-list-tile-title>{{site.name}}</v-list-tile-title>
           <v-list-tile-sub-title>
             <v-icon size="15">fas fa-map-pin</v-icon>
             {{site.location.latitude}}, {{site.location.longitude}}
           </v-list-tile-sub-title>
         </v-list-tile-content>

         <v-list-tile-action @click.prevent="onInformationSiteClick(site)" class="more">
           <v-btn icon ripple>
             <v-icon color="grey lighten-1">info</v-icon>
           </v-btn>
         </v-list-tile-action>
       </v-list-tile>
       <v-divider inset/>
     </template>
   </v-list>
   <div v-else-if="status === 'NO_RESULT'" style="padding-top: 30px; text-align: center">
     <v-avatar :size="120"
               color="grey lighten-4">
       <v-icon class="white--text light-blue" :size="50">location_off</v-icon>
     </v-avatar>
     <div class="headline grey--text">{{ $t('no-result') }}</div>
   </div>
   <div v-else-if="isLoading" style="padding-top: 30px; text-align: center">
     <v-progress-circular :size="60" color="light-blue" indeterminate></v-progress-circular>
   </div>
   <div v-else style="padding: 30px; text-align: center">
     <v-avatar :size="120"
               color="grey lighten-4">
       <v-icon class="white--text light-blue" :size="50">search</v-icon>
     </v-avatar>
     <rb/>
     <div class="headline grey--text">{{ $t('search') }}</div>
   </div>
 </div>
</template>
<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    props: {
      onInformationSiteClick: {
        type: Function,
        default: () => {}
      },
    },
    computed: {
      ...mapState('search', {
        selectedSite: state => state.selected,
        searchedSites: state => state.searched,
        isLoading: state => state.isLoading,
        status: state => state.status,
      }),
    },
    methods: {
      ...mapActions({
        selectSite: 'search/select',
        searchSites: 'search/search',
      }),
      clearSearch() {
        this.searchSites("")
      },
    }
  }
</script>

<i18n>
en:
  search: "Search a site name (example: 'Lagar baba' or 'la')"
  clear-search: "Clear search"
  found: "found | founds"
  no-result: "No result found"
fr:
  search: "Chercher le nom d'un site (exemple: 'Lagar baba' ou 'la')"
  clear-search: "Effacer la recherche"
  found: "résultat | résultats"
  no-result: "Aucun résultat"
ar:
  search: "أدخل بحثك"
  clear-search: "مسح البحث"
  found: "وجدت | يؤسس"
  no-result: "لم يتم العثور على نتائج"
</i18n>
