<template>
  <v-text-field clearable
                solo
                light
                flat
                append-icon="search"
                v-model="search"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                :spellCheck="false"
                :loading="isLoading"
                class="search"
                :label="$t('search')"
                @keyup.enter="runSearchSite(search)"
                @click:append="runSearchSite(search)"
                @click:clear="clearSearch()"/>
</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "SearchSiteInput",
    props: {
      onSearchStart: {
        type: Function,
        default: () => {}
      },
    },
    data() {
      return {
        search: "",
      }
    },
    computed: {
      ...mapState('search', {
        isLoading: state => state.isLoading,
      }),
    },
    methods: {
      ...mapActions({
        searchSites: 'search/search',
      }),
      async runSearchSite(search) {
        this.onSearchStart()
        await this.searchSites(search)
      },
      clearSearch() {
        this.searchSites("")
      },
    }
  }
</script>

<i18n>
en:
  search: "Search a site name"
fr:
  search: "Chercher le nom d'un site"
ar:
  search: "أدخل بحثك"
</i18n>
