<template>
  <div class="select-site">
    <v-avatar :size="120"
              color="grey lighten-4">
      <v-icon class="white--text light-blue" :size="50">location_on</v-icon>
    </v-avatar>
    <rb/>
    <div class="headline grey--text">{{ $t('select') }}</div>
  </div>
</template>


<style lang="scss" scoped>
  .select-site {
    padding-top: 30px;
    text-align: center
  }
</style>

<i18n>
en:
  select: "Select a site"
fr:
  select: "Sélectionner un site"
ar:
  select: "اختر الموقع"
</i18n>
