<template>
  <div>
    <v-list subheader three-line>
      <v-subheader>{{ $t('general.title') }}</v-subheader>
      <v-list-tile v-if="isMobile" id="switch-desktop" @click="() => changeDisplayMode('desktop')">
        <v-list-tile-action>
          <v-icon>computer</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('general.switch-desktop') }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ $t('general.switch-desktop-detail') }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile  v-else id="switch-mobile" @click="() => changeDisplayMode('mobile')">
        <v-list-tile-action>
          <v-icon>phone_iphone</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('general.switch-mobile') }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ $t('general.switch-mobile-detail') }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-divider></v-divider>
    <v-list subheader three-line>
      <v-subheader>{{ $t('map') }}</v-subheader>
      <v-list-tile id="marker" @click="setDisplayMarker(!displayMarker)">
        <v-list-tile-action>
          <v-switch v-model="displayMarker" @click.prevent=""></v-switch>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('marker.title') }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ $t('marker.description') }}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon color="amber" large>location_on</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <v-divider></v-divider>

    <v-list subheader>
      <v-subheader>{{ $t('language') }}</v-subheader>
      <v-list-tile :id="locale.code" @click="changeLanguage(locale.code)"  v-for="locale in $parent.$i18n.locales" :key="locale.code">
        <v-list-tile-action>
          <v-checkbox @click.prevent="" v-model="lang" :value="locale.code"></v-checkbox>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ locale.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    data() {
      return {
        lang: this.$parent.$i18n.locale,
      }
    },
    computed: {
      ...mapState('map', {
        displayMarker: state => state.displayMarker,
      }),
      ...mapState('application', {
        isMobile: state => state.isMobile,
      }),
    },
    methods: {
      changeDisplayMode(mode) {
        this.$store.commit('application/forceMode', true)
        this.$router.push(this.localePath(mode === 'mobile' ? 'mobile-settings' : 'index-settings'))
      },
      changeLanguage(lang) {
        this.$router.push(this.switchLocalePath(lang))
      },
      setDisplayMarker(displayMarker) {
        this.$store.commit('map/displayMarker', displayMarker)
      }
    }
  }
</script>

<i18n>
en:
  general:
    title: "General"
    switch-desktop: "Switch on desktop mode"
    switch-desktop-detail: "All your interface will be adapted for big screen"
    switch-mobile: "Switch on mobile mode"
    switch-mobile-detail: "All your interface will be adapted for mobile screen"
  language: "Language"
  map: "Map"
  marker:
    title: "Display marker"
    description: "Display or hide all marker on the map"
fr:
  general:
    title: "Générale"
    switch-desktop: "Passer en mode grand écran"
    switch-desktop-detail: "L'interface sera adaptée pour les grands écrans"
    switch-mobile: "Passer en mode téléphone"
    switch-mobile-detail: "L'interface sera adaptée pour les écran de téléphones ou tablettes"
  language: "Langage"
  map: "Carte"
  marker:
    title: "Afficher les marqueurs"
    description: "Afficher ou cacher tous les marqueurs de la carte"
ar:
  general:
    title: "جنرال لواء"
    switch-desktop: "قم بتشغيل وضع سطح المكتب"
    switch-desktop-detail: "سيتم تكييف كل ما تبذلونه من واجهة للشاشة الكبيرة"
    switch-mobile: "التبديل على وضع الهاتف المحمول"
    switch-mobile-detail: "سيتم تكييف كل ما تبذلونه من واجهة لشاشة المحمول"
  language: "لغة"
  map: "كارت"
  marker:
    title: "عرض علامة"
    description: "عرض أو إخفاء كل علامة على الخريطة"
</i18n>



