<template>
  <div>
    <div v-if="isLoading" style="padding-top: 30px; text-align: center">
      <v-progress-circular :size="60" color="light-blue" indeterminate></v-progress-circular>
    </div>
    <v-card v-else flat>
      <v-img
        :src="`https://mt0.google.com/vt/lyrs=y&hl=en&x=${site.tile.x}&y=${site.tile.y}&z=${site.tile.zoom}`"
        height="200px">
        <v-layout column fill-height>
          <v-spacer></v-spacer>
          <v-card-title class="white--text lightbox" style="justify-content: center;" v-if="site.name">
            <div>{{site.name}}</div>
          </v-card-title>
        </v-layout>
      </v-img>

      <v-card-title primary-title v-if="site.description">
        <div> {{site.description}}</div>
      </v-card-title>
      <v-divider></v-divider>

      <v-list two-line>
        <v-subheader>{{ $t('general')}}</v-subheader>
        <v-list-tile>
          <v-list-tile-action>
            <v-list-tile-avatar>
              <v-icon class="white--text grey lighten-1">
                fas fa-chess-rook
              </v-icon>
            </v-list-tile-avatar>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Tower</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-list-tile-avatar>
              <v-icon class="white--text grey lighten-1">
                history
              </v-icon>
            </v-list-tile-avatar>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Mesolithic</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>

        <v-list-tile>
          <v-list-tile-action>
            <v-list-tile-avatar>
              <v-icon class="white--text amber">
                location_on
              </v-icon>
            </v-list-tile-avatar>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Afghanistan</v-list-tile-title>
            <v-list-tile-sub-title> {{site.location.latitude}}, {{site.location.longitude}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>
  </div>

</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "SiteDetail",
    props: {
      siteId: {
        type: String,
        default: ''
      },
    },
    watch: {
      siteId(val) {
        this.getSite(val)
      }
    },
    created() {
      this.getSite(this.siteId)
    },
    computed: {
      ...mapState('site', {
        site: state => state.site,
        status: state => state.status,
        isLoading: state => state.isLoading,
      }),
    },
    methods: {
      ...mapActions({
        getSite: 'site/get',
      }),
    }
  }
</script>

<style lang="scss" scoped>
  .lightbox {
    box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 72px);
  }
</style>

<i18n>
en:
  general: "General"
fr:
  general: "Générale"
ar:
  general: "الأساسية"
</i18n>
