<template>
    <nuxt/>
</template>

<style lang="scss">
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  #__nuxt, #__layout {
    height: 100%;
  }
</style>
