<template>
  <v-layout>
    <v-navigation-drawer v-model="drawer" permanent absolute fixed hide-overlay :width="360">
      <div>
        <v-toolbar color="light-blue" dark tabs>
          <SearchSiteInput :onSearchStart="() => $router.push(this.localePath('index-search'))"/>
          <template v-slot:extension>
            <v-tabs color="transparent" slider-color="white" grow>
              <v-tab :to="localePath('index-search')" nuxt>
                <v-icon>search</v-icon>
              </v-tab>
              <v-tab
                :to="selectedSite.id ? localePath({name: 'index-site-id', params: {id: selectedSite.id}}) :  localePath('index-site')">
                <v-icon>location_on</v-icon>
              </v-tab>
              <v-tab :to="localePath('index-settings')">
                <v-icon>settings</v-icon>
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>
        <nuxt-child/>
      </div>
    </v-navigation-drawer>
    <v-container fluid style="padding: 0;">
      <v-layout justify-center align-center>
        <Map style="height: 100vh; z-index: 1" :active-area="activeArea" :on-marker-click="selectMarker"/>
      </v-layout>
    </v-container>
  </v-layout>
</template>


<script>
  import {mapState} from 'vuex'
  import Map from "~/components/Map"
  import SearchSiteInput from "~/components/SearchSiteInput"

  export default {
    components: {Map, SearchSiteInput},
    data() {
      return {
        drawer: true,
        activeArea: {position: 'absolute', left: '370px', right: '10px', height: '100%'}
      }
    },
    methods: {
      selectMarker(site) {
        this.$router.push(this.localePath({name: "index-site-id", params: {id: site.id}}))
      }
    },
    computed: {
      ...mapState('search', {
        selectedSite: state => state.selected,
      }),
    },
  }
</script>

<style lang="scss">
  .v-toolbar__content {
    padding: 8px;
  }

  .v-toolbar__extension {
    padding: 0px;
  }
</style>
