<template>
  <div style="height: 100%;">
    <SearchSiteInput class="search" :onSearchStart="() => toggleModal('mobile-search', 'search', true)"/>
    <Map style="z-index: 0;" :active-area="activeArea" :on-marker-click="selectMarker"/>
    <v-bottom-sheet v-model="drawer" hide-overlay style="box-shadow: 0px -4px 39px 8px rgba(0,0,0,0.75)" persistent>
      <v-card style="padding-top: 10px;padding-bottom: 65px; height: 50vh;">
        <div style="overflow: auto; height: 100%;">
          <nuxt-child/>
        </div>
      </v-card>
    </v-bottom-sheet>
    <v-bottom-nav :active.sync="selectedMenu" :value="true" fixed height="65" style="z-index: 99999">
      <v-btn color="light-blue" flat value="search" @click="toggleModal('mobile-search', 'search')">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn color="light-blue" flat value="site"
             @click="toggleModal(selectedSite.id ? {name: 'mobile-site-id', params: {id: selectedSite.id}} :  'mobile-site', 'site')">
        <v-icon>location_on</v-icon>
      </v-btn>
      <v-btn color="light-blue" flat value="settings"
             @click="toggleModal('mobile-settings', 'settings')">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </div>
</template>


<script>
  import {mapState} from 'vuex'
  import Map from "~/components/Map"
  import SearchSiteInput from "~/components/SearchSiteInput"

  export default {
    components: {Map, SearchSiteInput},
    data() {
      return {
        drawer: false,
        selectedMenu: '',
        type: '',
        activeArea: {position: 'absolute', top: '40px', left: '10px', right: '10px', height: '100%'}
      }
    },
    methods: {
      toggleModal(vueName, type,  forceOpen = false) {
        if (this.drawer && this.type === type && !forceOpen) {
          this.selectedMenu = ''
          this.drawer = false
          this.activeArea = {position: 'absolute', top: '40px', left: '10px', right: '10px', height: '100%'}
          this.$router.push(this.localePath('mobile'))
        } else {
          this.selectedMenu = type
          this.drawer = true
          this.activeArea = {position: 'absolute', top: '40px', left: '10px', right: '10px', height: '50%'}
          this.$router.push(this.localePath(vueName))
        }
        this.type = type
      },
      selectMarker(site) {
        this.toggleModal({name: "mobile-site-id", params: {id: site.id}}, 'site',  true)
      }
    },
    computed: {
      ...mapState('search', {
        selectedSite: state => state.selected,
      }),
    },
  }
</script>

<style lang="scss">
  .search {
    position: absolute;
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 100;
  }
</style>
